@import 'mobile.css';

html,body{
    height: 100%;
}

*{
    font-family: "NewYork", serif;
    font-size: medium;
    margin: 0 0; padding: 0 0;
    box-sizing: border-box;
    font-weight: 600;
}

@font-face{
    font-family: "NewYork";
    src:url('./newyork/NewYork\ PERSONAL\ USE.otf');
}

.title-form{
    display: block;
    background: transparent;
    padding: 1% 2%;
    border-radius: 2px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    max-width: 50%;
    width: 100%;
    margin-left: auto;
    margin-right: 0;
    padding: 5% 2%;
}

.container-glob{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: rgb(36,23,255);
    background: linear-gradient(114deg, rgba(36,23,255,0.5) 13%, rgba(138,150,219,0.5) 100%); 
    max-height: auto;
    height: 100%;
}

.background{
    position: absolute;
    width: 100%;
    background-size: cover;
    background-attachment: local;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -100;
    height: 100%;
    object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-size: xx-large;
    text-align: left;
    color: whitesmoke;
    position: relative;
}

.line{
    display: block;
    position: relative;
    top: auto;
    bottom: 0;
    left: -25px;
    right: auto;
    max-width: 50%;
    width: 100%;
    height: 6px;
    background-color: #de1111;
    margin-top: 8px;
    border-radius: 2px;
}

form{
    margin-top: 5%;
}

fieldset{
    margin: 10px auto;
    border: none;
}

label{
    position: relative;
    font-size: 14px;
    text-align: left;
    color: whitesmoke !important;
    text-transform: capitalize;
}

sub{
    position: absolute;
    left: auto;
    right: auto;
    top: -3px;
    bottom: auto;
    font-size: 1.1rem;
    color: white;
    margin-left: 2px;
}

label,input{
    display: block;
}

input{
    width: 100%;
    height: 2.2rem;
    background: rgba(255,255,255,0.9);
}

textarea{
    width: 100%;
    height: 10rem;
}

label,input,textarea{
    color: #8d8a8a;
}

input,textarea,select{
    border: 1px solid rgba(128, 125, 125, 0.411);
    outline: none;
    background-color: transparent !important;
}

input,textarea{
    font-size: 13px;
    padding: 3px 1px;
    background-color: rgb(248, 247, 247);
    color: white !important;
}

select{
    padding: 5px 4px;
    width: 100%;
    height: 2.2rem;
    background-color: rgb(248, 247, 247);
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 600;
    text-align: left;
}

input,select{
    width: 100%;
    height: 2.2rem !important;
}

.flex-input{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
}

.line-input{
    flex: 2;
}

.line-uf{
    flex: 1;
}

button{
    background-color: #de1111;
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 2px;
    width: 100%;
    height: 40px;
    max-width: 25%;
    border: 1px solid #0000;
    cursor: pointer;
    margin-top: 3%;
}

button:hover{
    background-color: rgb(41, 40, 40);
    transition: ease .09s;
}

button:active{
    transform: scale(1.1);
    transition: ease-out .09s;
}

.valid-true{
    border: 1px solid green;
}

.valid-false{
    border: 1px solid red;
}