@media(max-width: 1100px) and (orientation: landscape){
    .container{
        margin: auto auto !important;
    }
}

@media(max-width: 950px) and (orientation: landscape){
    .container-glob{
        height: auto !important;
    }

    .container{
        margin: auto auto !important;
    }
}

@media(max-width: 814px){
    .container{
        margin: auto auto !important;
    }
}

@media(max-width: 768px){

    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        font-size: x-large !important;
    }

    .container{
        max-width: 100% !important;
        padding: 1% 1%;
    }

    .flex-input{
        display: block !important;
    }
}