@media(max-width: 768px){

    body{
        background-color: fuchsia;
        padding: 10px 10px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        font-size: x-large !important;
    }

    .container{
        max-width: 100% !important;
        padding: 1% 1%;
    }

    .flex-input{
        display: block !important;
    }
}